<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <style>
      body {
        background-image: url("assets/bg3.png");
        background: cover;
      }
    </style>

    <!-- glass -->
    <section>
      <div class="flex flex-col justify-center items-center h-screen">
        <div
          class="bg-[rgba(255,255,255,.65)] rounded-lg backdrop-blur-[10px] border-2 border-gray-300 h-[92%] w-[95%] shadow-xl"
        >
          <div>

            <%- include('partials/navbar.ejs') %>

            <!-- content -->

            <section>
              <div class="flex flex-wrap h-auto justify-center mx-5 mt-5">
                <div class="w-1/2 text-left h-3/5">
                  <div class="w-full object-contain sm:px-0 md:px-10">
                    <h1
                      class="md:text-5xl text-4xl text-[15303B] mt-5 font-bold font-sans"
                    >
                      Predicting cyclones
                    </h1>
                    <h1 class="text-5xl text-[15303B] font-bold font-sans">
                      made easy with
                    </h1>
                    <h1 class="text-5xl text-[15303B] font-bold font-sans">
                      Deep learning
                    </h1>

                    <h4 class="py-10 text-xl">  
                      We have built a robust deep learning model which can
                      detect and identify the intensity of cyclones in an area
                      accurately with the help of INSAT-3DR imagery from the
                      INSAT satellite.
                      <span
                        class="underline font-semibold hover:text-indigo-600 hover:animate-pulse"
                        >Know more</span
                      >
                    </h4>

                    <button
                      class="ml-10 rounded-3xl px-8 py-3 bg-[#318161] mt-7 shadow-lg shadow-[#318161] text-white font-semibold"
                    >
                      <a href="/backend">Try out</a>
                    </button>
                  </div>
                </div>

                <div
                  class="flex relative justify-center items-center h-full w-1/2 p-20"
                >
                  <div class="h-full">
                    <img
                      class="h-[25rem] px-10 blur-xl inset-5 absolute"
                      src="assets/cloud.png"
                      alt=""
                    />
                    <img
                      class="h-[25rem] px-10 inset-5 absolute"
                      src="assets/cloud.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
