<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <style>
      body {
        background-image: url("assets/bg3.png");
        background: cover;
      }
    </style>

    <!-- glass   -->

    <section class="">
      <div class="flex flex-col  justify-center items-center mt-10 mb-10">
        <div
          class="bg-[rgba(255,255,255,.65)] rounded-lg h-max backdrop-blur-[10px] border-2 border-gray-300  w-[95%] shadow-xl"
        >
          <div>

            <%- include('partials/navbar.ejs') %>

            <!-- content -->

            <section>

                <div>
                    <div class="flex justify-center text-center font-bold text-5xl">
                        <h1>THE TEAM </h1>
    
                    </div>
    
    
                    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
                        <!--Card 1-->
                        <div class="rounded overflow-hidden shadow-lg py-3 transition duration-200 hover:bg-purple-200 ">
                            <img class="ml-5 rounded-full h-32" src="assets/user.jpg" alt="rakesh">
                            <div class="px-6">
                              <div class="font-bold text-xl mb-2">J Rakesh</div>
                              <p class="text-gray-700 text-base">
                                I am working as the Project leader as well as the Team Leader for this Hack.
                              </p>
                            </div>
                            <div class="px-6 pt-4 pb-2">
                              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Leader</span>
                              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#DeepLearning</span>
                              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#3rdYr</span>
                            </div>
                        </div>
                        <!--Card 2-->
                        <div class="rounded overflow-hidden shadow-lg py-3  hover:bg-purple-200 transition duration-200">
                          <img class="ml-5 h-32 rounded-full " src="assets/user.jpg" alt="hari">
                          <div class="px-6">
                            <div class="font-bold text-xl mb-2">Hari</div>
                            <p class="text-gray-700 text-base">
                              I am working as a Machine Learning Engineer and Data Scientist  on this Hack.
                            </p>
                          </div>
                          <div class="px-6 pt-4 pb-2">
                            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#ML</span>
                            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#AI</span>
                            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#3rdYr</span>
                          </div>
                        </div>
                    
                        <!--Card 3-->
                        <div class="rounded overflow-hidden shadow-lg py-3  hover:bg-purple-200 transition duration-200 ">
                            <img class="ml-5 h-32 rounded-full " src="assets/user.jpg" alt="shubha">
                            <div class="px-6">
                              <div class="font-bold text-xl mb-2">Shubha Jaiswal</div>
                              <p class="text-gray-700 text-base">
                                I am working as a Designer and Content Creator for the Hack.
                              </p>
                            </div>
                            <div class="px-6 pt-4 pb-2">
                              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Content</span>
                              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Design</span>
                              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#2ndYr</span>
                            </div>
                        </div>
                          <!--Card 4-->
                        <div class="rounded overflow-hidden shadow-lg py-3  hover:bg-purple-200  transition duration-200">
                            <img class="ml-5 h-32 rounded-full " src="assets/user.jpg" alt="Shashwat">
                            <div class="px-6">
                              <div class="font-bold text-xl mb-2">Shaswat Srivstava</div>
                              <p class="text-gray-700 text-base">
                               I am working as a Deep Learning Enginneer for the Hack.
                              </p>
                            </div>
                            <div class="px-6 pt-4 pb-2">
                              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#DeepLearning</span>
                              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#ML</span>
                              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#3rdYr</span>
                            </div>
                        </div>
                                                              <!--Card 5-->
                        <div class="rounded overflow-hidden shadow-lg py-3  hover:bg-purple-200  transition duration-200">
                            <img class="ml-5 h-32 rounded-full " src="assets/user.jpg" alt="utkarsh">
                            <div class="px-6">
                              <div class="font-bold text-xl mb-2">Utkarsh</div>
                              <p class="text-gray-700 text-base">
                                I am working as a FullStack Web Developer on this Hack.
                              </p>
                            </div>
                            <div class="px-6 pt-4 pb-2">
                              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#WebDeveloper</span>
                              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Design</span>
                              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#1stYr</span>
                            </div>
                        </div>
                         <!--Card 6-->
                        <div     class="rounded overflow-hidden shadow-lg  py-3  hover:bg-purple-200 transition duration-200 ">
                            <img class="ml-5 h-32 rounded-full " src="assets/user.jpg" alt="arya">
                            <div class="px-6">
                              <div class="font-bold text-xl mb-2">Arya Keshwani</div>
                              <p class="text-gray-700 text-base">
                                I am working as a FullStack Web Developer on this Hack.
                              </p>
                            </div>
                            <div class="px-6 pt-4 pb-2">
                              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#WebDeveloper</span>
                              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Backend</span>
                              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#1stYr</span>
                            </div>
                        </div>

                        
                        
                            
    
    
    
                    </div>



                </div>


                


            </section>





          
        </div>
      </div>
    </section>
  </body>
</html>